{% include 'partials/head.liquid' %}
<main>
  <section class="dashboard">
    <h1>Dashboard {{ pathTitle }}</h1>

    <div class="dashboard-boxes">
      <div class="dashboard-box">
        <h2 class="dashboard-box-heading">Smart zones</h2>
        <span class="dashboard-box-value">40</span>
      </div>

      <div class="dashboard-box">
        <h2 class="dashboard-box-heading">Steden</h2>
        <span class="dashboard-box-value">5</span>
      </div>

      <div class="dashboard-box">
        <h2 class="dashboard-box-heading">In gebruik</h2>
        <span class="dashboard-box-value">41%</span>
      </div>

      <div class="dashboard-box">
        <h2 class="dashboard-box-heading">Quickscans</h2>
        <span class="dashboard-box-value">15</span>
      </div>
    </div>
  </section>

  <section class="quickscans">
    <h3 class="quickscans-heading">Quickscans</h3>

    {% for quickscan in quickscans %}
      <article>
        {% if quickscan.picture == null %}
          <img src="/assets/images/fallback.png" alt="">
        {% else %}
          <img class="quickscan-img" src="https://fdnd-agency.directus.app/assets/{{ quickscan.picture }}" alt="">
        {% endif %}
        <h4 class="quickscan-heading">
          <a href="/{{ quickscan.city }}/{{ quickscan.address }}">{{ quickscan.address }}</a>
        </h4>
        <p class="quickscan-status">
          {{ quickscan.status }}
          {% if quickscan.status == 'vrij' %}
            <span style="background-color: var(--status-available)"></span>
          {% elsif quickscan.status == 'bezet' %}
            <span style="background-color: var(--status-occupied)"></span>
          {% elsif quickscan.status == 'overtreding' %}
            <span style="background-color: var(--status-violation)"></span>
          {% else %}
            <span style="background-color: var(--status-invalid)"></span>
          {% endif %}
        </p>
      </article>
    {% endfor %}
  </section>
</main>

{% include 'partials/quickscan.liquid' %}
{% include 'partials/foot.liquid' %}
