{% include 'partials/head.liquid' %}
    <main class="city-main">
      <a class="back" href="/{{ quickscanDetails[0].city }}">← Terug</a>

      <section class="dashboard">
        <h1>Dashboard {{ pathTitle }}</h1>

        <div class="dashboard-boxes">
          <div class="dashboard-box">
            <h2 class="dashboard-box-heading">Smart zone geschiktheid</h2>
            <span class="dashboard-box-value">{{ smartzoneGeschiktPercentage | round }}%</span>
          </div>
          <div class="dashboard-box">
            <h2 class="dashboard-box-heading">Gem. lengte smartzone</h2>
            <span class="dashboard-box-value">{{ averageLength | round: 1 }}m</span>
          </div>
          <div class="dashboard-box">
            <h2 class="dashboard-box-heading">In overtreding</h2>
            <span class="dashboard-box-value">{{ overtredingPercentage | round }}%</span>
          </div>
          <div class="dashboard-box">
            <h2 class="dashboard-box-heading">Quickscans</h2>
            <span class="dashboard-box-value">{{ quickscanAmount.count }}</span>
          </div>
        </div>
      </section>

      <section class="quickscans">
        <h3 class="quickscans-heading">Quickscans</h3>
      {% for quickscan in quickscans %}
        <article>
        {%- if quickscan.picture == null %}
          <img src="/assets/images/fallback.png" alt="">
        {%- else %}
          <picture>
            <source
              srcset="https://fdnd-agency.directus.app/assets/{{ quickscan.picture }}?format=avif&width=150"
              type="image/avif">
            <source
              srcset="https://fdnd-agency.directus.app/assets/{{ quickscan.picture }}?format=webp&width=150"
              type="image/webp">
            <img
              class="quickscan-img"
              src="https://fdnd-agency.directus.app/assets/{{ quickscan.picture }}?format=avif&width=150"
              alt="">
          </picture>
        {% endif %}
          <h4 class="quickscan-heading">
            <a href="/{{ quickscan.city }}/{{ quickscan.address }}">{{ quickscan.address }}</a>
          </h4>
          <p class="quickscan-status">{{ quickscan.status | capitalize }}
          {%- if quickscan.status == 'vrij' %}
            <span style="background-color: var(--status-available)"></span>
          {%- elsif quickscan.status == 'bezet' %}
            <span style="background-color: var(--status-occupied)"></span>
          {%- elsif quickscan.status == 'overtreding' %}
            <span style="background-color: var(--status-violation)"></span>
          {%- elsif quickscan.status == 'bestaat niet' %}
            <span style="background-color: var(--status-invalid)"></span>
          {%- endif %}
          </p>
        </article>
      {% endfor %}
      </section>
    </main>

{% include 'partials/quickscan.liquid' %}
{% include 'partials/foot.liquid' %}
